<h1>New product</h1>
<form action="/create" method="post">
  <label>Name
  <input type="text" name="product[name]"></label>
  <label>Description
  <input type="text" name="product[description]"></label>
  <label>Price
  <input type="text" name="product[price]"></label>
  <input type="submit" value="Create">
</form>
