<!DOCTYPE html>
<html>
<head>
  <title>New User</title>
</head>
<body>

<fieldset>
  <legend>New User</legend>
    <form>
    <label>First Name:
      <input type=text name=first_name value=<%= @user.first_name %>></label>
    <label>Last Name:
      <input type=text name=last_name value=<%= @user.last_name %>></label>
    <button>Submit</button>
    </form>
</fieldset>

</body>
</html>
